@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background: url("imagens/header.jpg");
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(0, 0, 0, 0.527);
    height: 130px;
}

nav {
    margin-top: 10px;
    text-align: center;
    padding: 20px 20px 40px 20px;
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 20px;
    margin-top: 20px;
}

nav > a:hover {
    background-color: rgba(255, 255, 255, 0.459);
    border-radius: 10px;
}

nav > h1 {
    padding: 0px;
}

main {
    margin-top: 20px;
}

li > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
}

li {
    list-style-type: none;
    text-align: left;
    padding: 6px;
}

li > a:hover {
    background-color: rgba(255, 255, 255, 0.733);
}

nav:hover > div {
    display: block;
    float: right;
    position: absolute;
    margin-left: 70%;
    margin-top: 2%;

}

#menu {
    display: none;
    float: right;
    background-color: rgba(0, 0, 0, 0.747);
    border-radius: 15px;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    color: rgb(199, 235, 204);
    background-color: rgba(7, 107, 7, 0.973);
    border-radius: 15px;
    width: 40%;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.747);
}

h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(82, 224, 69);
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.747);
    width: 500px;
    margin: 40px;
}

section {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.959);
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.747);
}

img {
    display: block;
    margin: auto;
    max-width: 500px;
    max-height: 300px;
}

p {
    padding: 20px;
    width: 600px;
    margin: auto;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
}

#fim {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    color: rgb(199, 235, 204);
    background-color: rgba(7, 107, 7, 0.973);
    border-radius: 15px;
    width: 80%;
    margin: auto;
}

footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    padding: 15px;
}

footer > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}